@media screen  and (max-width:600px){
    .grid-container{
        background-color: crimson;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border:3px black;
        row-gap: 10px;
        padding: 10px;
        justify-content:center
    }
}